<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Code Example Node Server</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">

  <link rel="icon" href="/favicon.ico">
</head>

<body>
  <script src="js/index.js"></script>
  <link rel="stylesheet" href="css/index.css" />

  {{{body}}}
</body>
</html>